{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'race50/css/style.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row g-0">
            <div class="sidebar col-lg-2 col-md-3">
                <div class="logo-wrap">
                <a href="{% url 'index' %}">
                    <img class="logo" src="{% static 'race50/images/RACE50 - logo.png' %}" alt="Race50 Logo">
                </a>
                </div>
                <hr>
                {% block nav %}
                <div>
                    <h4>Last 5 sessions:</h4>
                </div>
                {% endblock %}
            </div>

            <div class="main col-lg-10 col-md-9">
                <nav class="navbar navbar-expand-lg">
                <div class="container-fluid px-0">
                    <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
                </nav>

                <div class="inside-body">
                {% block body %}{% endblock %}
                </div>
            </div>
            </div>
        </div>
    </body>
</html>