{% extends "race50/layout.html" %}
{% load static %}
{% block title %}
    Race50 - Session
{% endblock %}

{% block body %}
    <div class="header">
        <div class="header-title">
            <br>
            <h2>{{ session.track }}: {{ session.date }}</h2>
        </div>
        <div class="header-message">
            <h5 class="header-message-text">
                BESTLAP: <br>
                {{ session.best_lap_number }} - {{ session.best_lap_ms }}ms
            </h5>
            <h5 class="header-message-text">
                AVERAGE: <br>
                {{ session.avg_lap_ms }}ms
            </h5>
            <h5 class="header-message-text">
                TBL: <br>
                {{ session.tbl_ms }}ms
            </h5>
        </div>
        <br>
    </div>
    <div class="body-container">
        <div class="body-left">
            <h4>All Laps:</h4>
            <div class="lap-num">
                <h6>Lap:</h6>
                {% for lap in laps %}
                    {{ lap.lap }}<br>
                {% endfor %}
            </div>
            <div class="lap-time">
                <h6>Total Time:</h6>
                {% for lap in laps %}
                    {% if lap.lap == session.best_lap_number %}
                        <div style="background-color: blueviolet;">{{ lap.total_ms }}</div>
                    {% else %}
                        {{ lap.total_ms }}
                    {% endif %} 
                {% endfor %}
            </div>
            <div class="lap-s1">
                <h6>S1 Time:</h6>
                {% for lap in laps %}
                    {{ lap.s1_ms }} <br>
                {% endfor %}
            </div>
            <div class="lap-s2">
                <h6>S2 Time:</h6>
                {% for lap in laps %}
                    {{ lap.s2_ms }} <br>
                {% endfor %}
            </div>
            <div class="lap-s3">
                <h6>S3 Time:</h6>
                {% for lap in laps %}
                    {{ lap.s3_ms }} <br>
                {% endfor %}
            </div>
        </div>
        <div class="body-separation"></div>
        <div class="body-right">
            <h4>Comparison with:</h4>
        </div>
    </div>
    {% load static %}
        <link rel="stylesheet" href="{% static 'race50/css/session.css' %}">
{% endblock %}