/* Body general structure */
body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

/* Sidebar on the left */
.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

/* Logo top left */
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.logo {
    display: flex;
    max-width: 100%;
    height: auto;
}

/* The whole page except sidebar */
.main {
    padding: 0px;
}

/* Navigation bar on the top of the screen */
.navbar {
    background-color: #f0f0f0;
}
ul, li {
    list-style-type: none;
}

/* The inside of the page */
.inside-body {
    display: flex;
    padding: 16px;
}

/* Index Content */
.index-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Index text */
.index-text-wrap {
    flex: 2;
}

/* Index Image */
.index-image-wrap {
    flex: 1;
    top: 20%;
    right: 0;
    padding: 16px;
    padding-right: 32px;
}

.index-image {
    display: block;
    max-width: 100%;
    height: 300px;
}

