/* Index page when user is not logged in */
.index-article {
  width: 100%;
  line-height: 1.55;
  font-size: 16px;
}

/* Main image on the index */
.index-floated-image {
  float: right;
  width: 38%;
  max-width: 420px;
  height: auto;
  margin: 0 0 1.25rem 2.25rem;
  border-radius: 4px;
  display: block;
}

/* Images on the bottom of the index */
.index-images-wrap {
    text-align: center;
}
/* The three images on the bottom */
.image-upload{
    width: 260px;
    height: 280px;
}
.image-compare{
    width: 260px;
    height: 280px;
}
.image-analysis{
    width: 260px;
    height: 280px;
}
.index-images {
  border-radius: 10px;
    height: 260px;
    width: auto;
}


/* Index page when user is logged in */
/* Header of the index */
.header{
    background-color: rgb(101, 101, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}
.header-title {
  margin: 0;
}
.header-buttons {
  display: flex;
  gap: 200px;
}

/* Rest of the inner-body */
.index-session {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch
}
.index-session > * {
  width: 100%;
  box-sizing: border-box;
}
.index-session img {
  width: 100%;
  height: auto;
  display: block;
}
.card-wrap {
  display: flex;
  align-items: stretch;
  padding: 15px;
  border-radius: 8px;

  background-image:
    linear-gradient(45deg, #FFFF 25%, transparent 25%),
    linear-gradient(-45deg, #FFFF 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #FFFF 75%),
    linear-gradient(-45deg, transparent 75%, #FFFF 75%);
  background-size: 40px 40px; /* size of squares */
  background-position: 0 0, 0 20px, 20px -20px, -20px 0;
}
.card {
  background-color: #111827;
  border: 2px;
  border-color: #233042;
  flex: 1;
}

.card-body {
  color: #E6EDF3;
}

.list-group {
  background-color: #111827; 
  color: #E6EDF3;
}