/* Header of the session page */
.header{
    background-color: rgb(101, 101, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}
.header-title {
    margin: 0;
}
.header-buttons {
    display: flex;
    gap: 200px;
}

.header-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-message-text {
    text-align: center;
}

/* Body of the session page */
.body-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
}

.body-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.lap-num,
.lap-time,
.lap-s1,
.lap-s2,
.lap-s3 {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.body-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.body-separation {
    width: 4px;
    background-color: #444;
    margin: 0 40px;
    border-radius: 2px;
}