/* Body general structure */
body {
    margin: 0;
    background-color: #0C1117;
}

/* General Style for the page */
.header {
    color: #17212B;
}

hr {
    background-color: #E6EDF3;
}

h1, h2, h3, h4, h5, h6, p {
    color: #E6EDF3;
}

#text{
    color: #E6EDF3;
}

a {
    color: #7C3AED;
}
a:hover {
    color: #6D28D9
}

/* Sidebar on the left */
.sidebar {
    background-color: #111827;
    height: 100vh;
    padding: 20px;
}

/* Logo top left */
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.logo {
    display: flex;
    max-width: 100%;
    height: auto;
}


/* The whole page except sidebar */
.main {
    padding: 0px;
}


/* Navigation bar on the top of the screen */
.navbar {
    background-color: #111827;
    box-sizing: border-box;
}
ul, li {
    list-style-type: none;
}


/* The inside of the page */
.inside-body {
  display: block;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
}
